{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <p>Welcome Back: <span class="text"> {{ request.user.username }}</span> </p>

    {% if reported_emergencies %}
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Emergency ID</th>
                    <th>Location</th>
                    <th>Issue</th>
                    <th>Date Reported</th>
                    <th>Update request</th>
                    <th>Withdraw request</th>
                </tr>
            </thead>
            <tbody>
                {% for emergency in reported_emergencies %}
                    <tr>
                        <td>{{ emergency.id }}</td>
                        <td>{{ emergency.location }}</td>
                        <td>{{ emergency.issue }}</td>
                        <td>{{ emergency.created_at|date:"F j, Y, g:i a" }}</td>
                        <td><a href="{% url 'update_request' emergency.user_id %}" class="btn btn-success" type="button">Edit</a></td>
                        
                        <td><a href="{% url 'delete' emergency.user_id %}" class="btn btn-danger" type="button" onclick="return confirm('Are you sure you want to delete this request?');">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning" role="alert">
            No emergencies reported by this user.
        </div>
    {% endif %}
</div>
{% endblock %}
