{% extends 'base.html' %}

{% block content %}
    
    
{% if messages %}
    {% for message in messages  %}
        <div class="alert{{ message.tags }}">{{ message }}</div>
    {% endfor %}

{% endif %}
        <h1>About Us</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>email</th>
                <th>Phone</th>
                <th>Location</th>
                <th>issue</th>
                <th>Edit</th>
                <th>Delete/th>            
            </tr>
        </thead>
        <tbody>
        {% for student in data %}
            <tr>
                    
                <td>{{ UserRequest.username }}</td>
                <td>{{ UserRequest.email }}</td>
                <td>{{ UserRequest.phone }}</td>
                <td>{{ UserRequest.location }}</td>
                <td>{{UserRequest.issue }}</td>
                 <td><a href="{% url 'update_request' UserRequest.user_id %}" class="btn btn-success" type="button"> Edit</a></td>
                  <td>
                      <a href="{% url 'delete' UserRequest.user_id %}" class=" btn btn-danger" type="button" 
                         onclick="return confirm('Are you sure you want to delete this record?')">DELETE STUDENT</a>
                  </td>
            
            </tr>
            
        {% endfor   %}
        	
        
        
        </tbody>
        
    </table>
    
{% endblock %}